body{
    background-color: gold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{background-color:darkgoldenrod;
color:gold;
text-align: center;}
h2{color: darkorange;
text-align: center;}